# idea
.idea
.idea/
*.iml
.DS_Store
**/.DS_Store

#deploy data

data/*
!data/.gitkeep

# gitlab ci
.cache

#vscode
.vscode
.vscode/
fabric/2.x/fabric-sdk-go-sample/private/*
fabric/2.x/fabric-sdk-go-sample/certs/*
